body, html {
    margin: 5px 0 0 0;
    width: 750px;
    height: 200px;
}

.list-table {
    font-size: 13px !important;
}

.searchBox {
    float: left;
    width: 228px !important;
}

#waiting {

    text-align: center;
}

#form {
    margin: auto;

    text-align: center;
}

#waiting img {

}

#footer {
    font-size: 20px;
    text-align: center;
    color:#ffffff;
}
.footer-desc{
    text-align: center;
}
.margin-auto{
    margin:auto;
}

.form-group{
    width: 300px;
}
.float-left{
    float: left;
}

#result{
    margin:25px 0 0 0 ;
}