.play {
    background-image: url("/images/play-white.png");
    background-repeat: no-repeat;
    background-position: center;
}

.pause {
    background-image: url("/images/pause-white.png");
    background-repeat: no-repeat;
    background-position: center;
}

.player {
    width: 45px;
    height: 45px;
    position: relative;
    z-index: 8;
    top: 0px;
    left: 0px;
}

.player .play-pause {
    width: 45px;
    height: 45px;
    position: absolute;
    z-index: 9;
}