.track-image{
    width: 45px;
    height: 45px;

}

.site-name{text-align: center;}
.list-group{
    margin: 0.5%;
}
.list-group-item{
    padding: 5px 5px;
}
.list-group-button{
    width: 10% !important;
}


.image-player{
    position: relative;
}
.player-play{
    position: absolute;
}
.player-pause{
    position: absolute;
    display: none;
}
.tracks{
    margin:1px 0 0 0;
}
.plus-image{

    margin-top: 13px;
}


.th-plus{
    width:2%;
}
.th-img{
    width:5%;
}
.th-song{
    width: 30%;
}
.th-artist{
    width: 30%;
}
.th-album{
    width:30%;
}
.th-duration{
    width:3%;
}

.tracks a, .tracks a:active{
    text-decoration: none;
}