<div class="col-lg-9">
    <h3 class="custom-title-recentlyPlayedTracks" style="display:none;">Recently Played</h3>
    <span class="custom-recentlyPlayedTracks" style="display:none;"></span>
</div>
<div class="col-lg-3">
    <h6 class="custom-title-recommendedSongs" style="display:none;">Recommended</h6>
    <span class="custom-recommendedSongs" style="display:none;"></span>
  
    <h3 class="custom-title-savedTracks" style="display:none;">Saved Tracks</h3>
    <span class="custom-savedTracks" style="display:none;"></span>
</div>
<script>
    loadHome();
</script>