@*<style>
    .vertical-center {
        min-height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        margin: auto;
        text-align: center;
    }
</style>

<div class="jumbotron vertical-center">
    <div class="container">
        <p><img src="/src/web/images/logo.png"></p>

        <form action="/Search" method="GET" style="width: 400px;margin: auto;">
            <p><input type="text" id="q" name="q" placeholder="songs, albums, artists" class="form-control" style="width: 100%"></p>

            <p><input type="submit" value="Search" class="btn btn-success"></p>
        </form>
    </div>
</div>*@