<div style="text-align:center">
    <h1>
        Thank you for installing Paradify
    </h1>
    <p>Let's start! Visit any of the supported web sites, play a song and then click Paradify application.</p>
</div>

<div class="jumbotron bottom-line">
    <h3 class="text-center">Supported Sites</h3>

    <div class="row marketing">

        <div class="col-md-4 text-center">
            <h4>YouTube</h4>

            <p>
                <a href="http://www.youtube.com" alt="YouTube" title="YouTube" target="_blank">Visit YouTube</a>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <h4 class="text-center">Radio Paradise</h4>
            <p>
                <a href="http://www.radioparadise.com" alt="Radio Paradise" title="Radio Paradise"
                   target="_blank">
                    Visit
                    Radio Paradise
                </a>
            </p>

        </div>
        <div class="col-md-4 text-center">
            <h4>Jango</h4>

            <p>
                <a href="http://www.jango.com" alt="Jango" title="Jango" target="_blank">
                    Visit
                    Jango
                </a>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <h4>Q Music</h4>

            <p>
                <a href="http://qmusic.nl" alt="qmusic" title="qmusic" target="_blank">
                    Visit
                    Q Music
                </a>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <h4>Deezer</h4>

            <p>
                <a href="https://www.deezer.com/en/" alt="deezer" title="deezer" target="_blank">
                    Visit
                    Deezer
                </a>
            </p>
        </div>


        <div class="col-md-4 text-center">
            <h4>Daily Motion</h4>

            <p>
                <a href="https://www.dailymotion.com" alt="Daily Motion" title="Daily Motion" target="_blank">
                    Visit
                    Daily Motion
                </a>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <h4>Vimeo</h4>

            <p>
                <a href="http://www.vimeo.com" alt="Vimeo " title="Vimeo " target="_blank">Visit Vimeo </a>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <h4>Sound Cloud</h4>

            <p>
                <a href="https://soundcloud.com" alt="Sound Cloud" title="Sound Cloud" target="_blank">
                    Visit
                    Sound Cloud
                </a>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <h4>Karnaval</h4>

            <p>
                <a href="http://www.karnaval.com" alt="Karnaval" title="Karnaval" target="_blank">
                    Visit
                    Karnaval
                </a>
            </p>
        </div>

        <div class="col-md-4 text-center">
            <h4>Power Fm (10+)</h4>

            <p>


                <a href="http://www.powerapp.com.tr/radio/powerFM" alt="Power Fm" title="Power Fm"
                   target="_blank">Visit Powerfm</a>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <h4>Kral Fm</h4>

            <p>
                <a href="http://www.kralmuzik.com.tr/radyo/kral-fm" alt="Kral Fm" title="Kral Fm"
                   target="_blank">Visit Kral Fm</a>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <h4>Radio Swiss Jazz</h4>

            <p>
                <a href="http://www.radioswissjazz.ch" alt="radio swiss jazz" title="radio swiss jazz"
                   target="_blank">Radio Swiss Jazz</a>
            </p>
        </div>
    </div>
</div>