.main{
    padding: 35px;
}
.track-image{
    width: 80px;
    height: auto;
}
.site-name{text-align: center;}
.list-group{
    float: left;
    width: 38%;
    margin: 1%;
}
.list-group-button{
    width: 10% !important;
}


.image-player{
    position: relative;
}
.player-play{
    position: absolute;
}
.player-pause{
    position: absolute;
    display: none;
}