
    <div class="col-lg-4" style="margin-top:20px">
        <h4>Why do you need Paradify?</h4>
        <p>
           Let's say you watch a video clip on Youtube, 
           Paradify finds and adds it to your Spotify playlist easyly.
        </p>
    </div>

    <div class="col-lg-4" style="margin-top:20px">
        <h4>What do you need to do?</h4>
        <p>
            1. <span class="badge badge-warning" style="width:85px; font-size:1em;"><a id="install-button" href="javascript:install()">install</a></span> Paradify (on Chrome browser). If it doesn't install, use
            <a href="https://chrome.google.com/webstore/detail/paradify-youtube-radios-t/bocdilfmhiggklhdifohjfghbdncgele" onclick="chromeStoreClick()" target="_blank">
                this link
            </a>

        </p>
        <p>
            <strong>Supported web sites</strong>
            <ul class="ul-supported-web-sites">
                <li>YouTube</li>
                <li>Jango</li>
                <li>Tune in(many radios are in)</li>
                <li>Daily Motion</li>
                <li>Vimeo</li>
                <li>Sound Cloud</li>
                <li>Deezer</li>
                <li>Radio Paradise</li>
                <li>Q Music</li>
                <li>Radio Swiss Jazz</li>
                <li>Power Fm(many radios are in)</li>
                <li>Kral Fm</li>
                <li>Karnaval(many radios are in)</li>
            </ul>
        </p>
        <p>
            2. if you don't want to install the application, you can still use this web site by searching the songs or find <em>recommended songs</em>
        </p>
    </div>


    <div class="col-lg-4" style="margin-top:20px">
        <h4>It is open source on Github</h4>
        <p>
            <a class="github-button" href="https://github.com/volkanakinpasa/paradify" data-size="large" aria-label="Star volkanakinpasa/paradify on GitHub">Github</a>
        </p>
    </div>

<script>

    function install() {
        chrome.webstore.install('https://chrome.google.com/webstore/detail/bocdilfmhiggklhdifohjfghbdncgele', function () {
           
        }, function (err) {
        });
    }
</script>