<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Paradify - Songs to Spotify</title>
    <script src="~/src/web/js/ga.js"></script>
    <script src="~/src/web/js/jquery.min.js?v=3"></script>
    <script src="~/src/web/js/playback.js?v=3"></script>
    <script src="~/src/web/js/ga-track.js?v=3"></script>
    <link rel='stylesheet' href='~/src/web/css/searchresult.css?v=3' type='text/css' />
    <link rel='stylesheet' href='~/src/web/css/playback.css?v=3' type='text/css' />
    <link rel='stylesheet' href='~/src/web/css/modal-partial.css?v=3' type='text/css' />
    <link rel='stylesheet' href='~/src/web/css/modal.css?v=3' type='text/css' />
</head>
<body>
    <div id="main">
        <div id="main-top">
            <div id="left-bar-container">
                <div id="logo-menu">
                    <a href="~/"><img src="~/src/web/images/logo.png" /></a>
                    
                </div>

                <div id="profile">
                    <div id="profile_container">
                        <img id="profile_pic" />
                        <div id="profile_id">
                        </div>
                    </div>
                    <div id="signout">
                        <a href="javascript:signout()">sign-out</a>
                    </div>

                </div>
                
            </div>
            <div id="right-bar-container">
                <div id="header">
                    <div class="searchBox">
                        <div class="searchBox-content">
                            <div class="desc">
                                Search for an Artist, Song, Album
                            </div>
                            <div class="searchBox-input">
                                @using (Html.BeginForm("Index", "SearchP", FormMethod.Get))
                                {
                                    <input type="text" id="q" name="q" placeholder="Search..." class="searchBox-input" value="@(Model != null ? Model.query : "")">
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @RenderBody()
                <div style="text-align: right;
                position: absolute;
                top: 12px;
                right: 13px;">
                    <a href="https://www.paypal.me/volkanakinpasa?locale.x=en_US&country.x=NL" onclick="paypal()" target="_blank">
                        <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" alt="PayPal" width="90" />
                    </a>
                </div>    
            </div>

        </div>

    </div>
    <script>
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Me","Users")',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (response) {
                if (response.images != null && response.images.length > 0) {
                    $('#profile_pic').attr('src', response.images[0].url);
                    $('#profile_pic').show();
                    $('#signout').show();
                }

                $('#profile_id').html(response.id);
            },
            error: function (xhr, textStatus, err) {
            }
        });

        function signout() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Signout", "Users")',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    $('#profile').hide();
                    gaTrack.signout($('#profile_id').html());
                },
                error: function (xhr, textStatus, err) {
                }
            });
        }

        function paypal() {
            gaTrack.paypalClick();
        }

        ga('send', 'pageview');

    </script>
</body>
</html>