<p style="text-align:center;">
    <button type="button" class="btn btn-success custom-link-login-popup"
            onclick="redirectToLogin('@Url.Action("Index", "Authorize", new { fromIFrame = true })')">
        Login on Spotify
    </button>
    <button type="button" class="btn btn-success custom-link-login"
            onclick="javascript:location.href = '@(Url.Action("Index", "Authorize"))'">
        Login on Spotify
    </button>
</p>
<script>
    populateLoginLinks();
</script>