.jumbotron>h1, .jumbotron>h2{
    font-weight : 400;
}
.bottom-line{
    border-bottom: 1px solid #eeeeee;
}
.img-foto{
    display: inline-block;
    height: auto;
    max-width: 100%;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}