@using SpotifyAPI.Web.Models
@model List<SimplePlaylist>

<div style="clear:both">
    @foreach (SimplePlaylist playlist in Model)
    {
        <div style="float:left;width:120px; height:160px;">
            <div style="width:120px; height:120px;">
                @if (playlist.Images != null && playlist.Images.Count > 0)
                {
                    <img src="@playlist.Images[0].Url" style="width:120px; height:120px;">
                }

            </div>
            <div>
                @playlist.Name
            </div>            
        </div>
    }
</div>